body {
  font-size: 16px;
  color: black;
  background-color:whitesmoke;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: lightblue;
  border-radius: 0;
  border: 0;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -20px;
}

.container {
  height: ;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #9799ba;
  font-size: 1.5em;
  text-transform: uppercase;

  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav {

}
/** END OF HEADER **/



/** MAIN CONTENT **/
#our-menu {
  font-size: 1.3em;
  padding-bottom: 20px;
}


.jumbotron {
  background-color: darkgray;
}
/** END OF MAIN CONTENT **/



/********** Large devices only **********/
@media (min-width: 1200px) {
  .container{
    height: 6vw;
  }
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    height: 6vw;
  }
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .container {
    height: 8vw;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  #nav-list a {
    border-bottom: 0.5px solid white;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: px;
    font-size: 5vw;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1em;
    text-align: center;
  }


}
  /* End Header */
